.form {
  max-width: 620px;
  width: 100%;
  margin: auto;
  min-height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 88px;

  &__title {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    color: #393939;
    margin-bottom: 32px;
    font-weight: 600;
  }
}
